<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vacunaciones</ion-title>
    <ion-buttons end>
      <button ion-button color="primary">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="background-gray">
  <ion-list inset>
    <ion-item *ngFor="let p of pets; let i = index">
      <ion-avatar item-left>
        <img src="https://unsplash.it/5{{i}}/50">
      </ion-avatar>
      <h2>{{p.name}}</h2>
      <p>{{p.species}} <span *ngIf="p.breed">> {{p.breed}}</span></p>
      <p item-right>
        <ion-icon color="primary" name="ios-arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
