page-news {

    ion-card {
        position: relative;
        font-family: Lato-Regular;
        margin: 0 0 10px 0 !important;
        width: 100% !important;
    }

    .card-image {
        filter: brightness(60%);
    }

    .data {
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 10px;
        padding-right: 5px;
        padding-right: 20px;
    }

    .card-title {
        position: relative;
        font-size: 2.5em;
        top: 0;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-date {
        position: relative;
        font-size: 1.5em;
        bottom: 0px;
        margin-top: 5px;
        width: 100%;
        color: map-get($colors,gray);
    }

    .card-favorite {
        font-size: 1.5em;
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-right: 25px;
        color: #fff;
    }
}
